.idea/
*.iml
classes/
build/
**/out/
bin/
**/*.log
*.bak
**/*.class
*.jar
*.class
xtend-gen/
EngenyGeneratorTasks/**/src-gen/
EngenyGeneratorTasks/**/gen-web/
EngenyGeneratorTasks/**/templib/
EngenyGeneratorTasks/**/xtend-gen/
EngenyGeneratorTasks/esd/lib/
EngenyGeneratorTasks/esd/bin/
EngenyGeneratorTasks/esd/velocity.log
**/cleanup-generated.xml
target/
**/.DS_Store
.settings/
org.engeny.dsl.Engen/bin/
org.engeny.dsl.Engen.ui/bin/
**/.classpath
EngenyGeneratorTasks/esd/esd.mdd
MddProcessorPlugin/.settings/org.eclipse.jdt.core.prefs
Gradle/repository/
.gradle/
EngenyGeneratorTasks/**/*.sublime-workspace
**/**/**/**/**/**/**/**/generated-composite-model.txt
*.sublime-workspace
*.sublime-project
.project
